body {
  margin: 0;
}
* {
  font-family: 'Poppins';
}
p, li {
  color: #404242;
}
h1 {
  color: #1C2323;
}
.wrapper {
  padding: 0 85px 334px 103px;
}
main {
  padding-top: 105px;
}
.description {
  padding-bottom: 120px;
}
.description-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.description-content {
  flex: 1 1 0;
  padding-right: 57px;
}
.description-content * {
  margin-bottom: 50px;
}
.description-content h1 {
  font-family: 'ExtraBoldPoppins';
  line-height: 84px;
  font-size: 56px;
}
.description-content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.description-content button {
  width: 216px;
  height: 80px;
  background: #58A9A5;
  border-radius: 20px 20px 20px 0px;
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-family: 'BoldPoppins';
  cursor: pointer;
}
.description-image {
  flex: 1 1 58px;
  height: 625px;
}
.description-image::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: url(assets/rect.svg) no-repeat;
  background-size: 100% 100%;
}
.header {
  height: 119px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex: 1;
}
.logo > div {
  display: flex;
  justify-content: space-between;
  width: 128px;
  font-size: 28px;
}
.logo > div > span {
  line-height: 52px;
  font-family: 'ExtraBoldPoppins';
  color: #58A9A5;
}
.nav {
  display: flex;
  flex: 1.25;
  align-items: center;
  font-size: 14px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 0;
}
.nav li a {
  text-decoration: none;
  white-space: nowrap;
  color: #404242;
}
.nav li.active a {
  font-family: 'BoldPoppins';
  color: #58A9A5;
}
.nav li.active {
  position: relative;
}
.border-line {
  display: none;
  position: absolute;
  width: 100%;
}
.active .border-line {
  display: block;
}
.border-line > div {
  margin: 0 auto;
  border-radius: 21px;
  background: #FEC62D;
  width: 48px;
  height: 6px;
}
.pages {
  position: relative;
  height: 18px;
  border-radius: 9px;
  background: #1476FF;
  width: 18px;
  font-size: 10px;
  color: #fff;
  padding: 3px 0 3px 0;
  box-sizing: border-box;
  line-height: 11.1px;
  font-weight: 400;
  text-align: center;
  font-family: 'Inter Regular';
}
.browse-screens {
  width: 160px;
  height: 52px;
  border-radius: 48px;
  border: 1px solid #E9EAF3;
  text-align: center;
  padding: 16px 0 18px 0;
  box-sizing: border-box;
  line-height: 16px;
  font-weight: 700;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  color: #0B0E2C;
}
aside {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
aside .signup {
  cursor: pointer;
  background: #58A9A5;
  width: 216px;
  height: 80px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 21px 0;
  color: #fff;
  text-align: center;
  line-height: 38px;
  font-weight: 500;
  border-radius: 15px;
}
.pages-value {
  margin: 0 41px 0 32px;
}
.how-it-works h1 {
  text-align: center;
  font-family: 'ExtraBoldPoppins';
  font-size: 56px;
  line-height: 84px;
  margin-bottom: 20px;
}
.how-it-works > p {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 71px;
}
.how-it-works-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 150px;
}
.how-it-works-wrapper p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #486958;
}
.how-it-works-wrapper h3 {
  white-space: nowrap;
  color: #486958;
  font-size: 16px;
  line-height: 24px;
  font-family: 'BoldPoppins';
}
.how-it-works-mission-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.how-it-works-image {
  background-size: 100% 100%;
  border-radius: 10px 0px 0px 10px;
  flex: 2 1 auto;
  width: 100%;
  max-width: 850px;
}
.how-it-works-content {
  position: relative;
  flex: 1;
  padding: 56px 85px 71px 92px;
  background: #CCF0E6;
  text-align: left;
}
.how-it-works-content p {
  text-align: left;
}
.how-it-works-content .background {
  width: 102px;
  height: 102px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 52px;
  position: absolute;
  bottom: 40px;
  left: -51px;
}
.how-it-works-content .forground {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 52px;
  position: absolute;
  bottom: 51px;
  left: -40px;
}
.how-it-works-content .forground svg {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 32px;
}
.how-it-works-mission-image {
  flex: 1;
  width: 100%;
}
.how-it-works-mission-content {
  flex: 1 1 0;
  padding: 0 96px 0 71px;
}
.how-it-works-mission-content h2 {
  font-family: 'BoldPoppins';
  font-size: 32px;
}
.how-it-works-mission-content p {
  text-align: left;
  font-size: 24px;
}
.menu {
  z-index: 1;
  position: fixed;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: min(120vw, 480px);
  height: 184vh;
  transition: transform 500ms ease 0s;
  transform: translateX(100%);
  overflow-y: scroll;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-left: 1px solid #58A9A5;
}
.menu-signup {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.close-menu {
  cursor: pointer;
  font-size: 40px;
  color: #404242;
  padding: 0 0 0 17px;
}
.menu-signup > div {
  cursor: pointer;
  background: #58A9A5;
  width: 216px;
  height: 80px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 21px 0;
  color: #fff;
  text-align: center;
  line-height: 38px;
  font-weight: 500;
  border-radius: 15px;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list a {
  border-bottom: 1px solid;
  font-size: 21px;
  text-decoration: none;
  color: #404242;
}
.list a + a {
  margin-top: 60px;
}
.open {
  transform: translateX(0%);
}
.mobile-menu {
  cursor: pointer;
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  background: url(assets/menu.png) no-repeat;
  background-size: cover;
}
.our-project {
  padding-top: 120px;
}
.our-project h1, .our-project p {
  text-align: center;
}
.our-project > h1 {
  font-size: 56px;
  font-family: 'ExtraBoldPoppins';
  line-height: 84px;
}
.our-project > p {
  margin-bottom: 51px;
  font-size: 24px;
  line-height: 36px;
}
.line {
  width: 135px;
  height: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
  background: #58A9A5;
}
.our-project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-project-content > div {
  display: flex;
  flex-direction: column;
  margin: 94px auto 0 auto;
  max-width: 360px;
}
.our-project-content p {
  text-align: left;
  margin-bottom: 35px;
}
.our-project-content h3 {
  color: #58A9A5;
  font-size: 32px;
  margin-bottom: 5px;
}
.project-livingroom-image {
  width: 100%;
}
.project-workspace-image {
  width: 100%;
}
.project-workspace h3 {
  margin-top: 35px;
}
.library-image {
  width: 100%;
}
.testimonials {
  padding-top: 213px;
}
.testimonials h1 {
  text-align: center;
  font-size: 56px;
  font-family: 'ExtraBoldPoppins';
  line-height: 84px;
}
.testimonials-examples {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.testimonials-examples > div {
  margin: 0 auto;
}
.testimonials-content {
  padding-top: 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.testimonials-content-image {
  max-width: 492px;
  width: 100%;
  margin: 0 auto 0 auto;
}
.testimonials-right-content {
  padding: 40px 85px 76px 109px;
  background: #CCF0E6;
  flex: 1;
  max-height: 560px;
  box-sizing: border-box;
  min-width: 800px;
  max-width: 840px;
}
.testimonials-right-content-top-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 22px;
}
.testimonials-right-content-top-text span {
  color: #58A9A5;
  font-size: 56px;
  font-family: 'ExtraBoldPoppins';
  line-height: 84px;
}
.testimonials-right-content-top-text p {
  font-size: 24px;
  color: #58A9A5;
  line-height: 36px;
  font-weight: 600;
}
.testimonials-right-content-top-text p + p {
}
.testimonials-right-content-middle-text {
  margin-top: 98px;
  position: relative;
}
.testimonials-right-content-middle-text p {
  position: relative;
}
.testimonials-right-content-middle-text-description {

}
.roscoe {
  font-size: 20px;
  color: #58A9A5;
  line-height: 30.4px;
}
.roscoe span {
  font-style: italic;
}
.quotes {
  z-index: 0;
  position: absolute;
  left: -21px;
  top: -63px;
  width: 58px;
  height: 107px;
  background: url(assets/quotes.svg) no-repeat;
  background-size: 100% 100%;
}
.testimonials-right-content * {
  text-align: left;
}
.testimonials-examples-item {
  background-size: cover !important;
}
.klamby {
  width: 191px;
  height: 191px;
  background: url(assets/klamby.svg) no-repeat;
  background-position: top;
}
.mayoutfit {
  width: 191px;
  height: 72px;
  background: url(assets/mayoutfit.svg) no-repeat;
}
.zalora {
  width: 237px;
  height: 35px;
  background: url(assets/zalora.svg) no-repeat;
}
.geulis {
  width: 160px;
  height: 104px;
  background: url(assets/geulis.svg) no-repeat;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  padding-top: 240px;
}
.contact h1 {
  font-family: 'ExtraBoldPoppins';
  font-size: 56px;
  line-height: 84px;
  margin: 0;
}
.contact p {
  color: #486958;
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0 38px 0;
}
.contact form {
  border: 1px solid #486958;
}
.contact-content {
  padding: 0 84px 0 0;
}
.contact form {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 43px 35px 43px;
}
input[type="text"] {
  color: #486958;
  border-color: #000000;
  border-width: 0 0 1px 0;
  padding: 0 0 25px 0;
  margin-top: 55px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.line.left {
  margin: 0 0 15px 0;
}
.contact form button {
  margin: 95px 0 0 auto;
  font-family: 'BoldPoppins';
  font-size: 20px;
  line-height: 30px;
  border: none;
  height: 80px;
  color: #fff;
  background: #58A9A5;
  border-radius: 20px 20px 20px 0px;
  width: 271px;
}

@media screen and (max-width: 1510px) {
  .how-it-works-image {
    max-width: 100%;
  }
  .how-it-works-mission-wrapper {
    flex-direction: column;
  }
  .how-it-works-mission-content {
    padding: 0;
  }
  .how-it-works-wrapper {
    flex-direction: column;
  }
  .testimonials-content-image {
    max-width: 100%;
  }
  .testimonials-content {
    flex-direction: column;
  }
  .testimonials-right-content {
    min-width: 100%;
    max-height: 100%;
  }
  .testimonials-right-content-top-text {
    flex-direction: column;
  }
}
@media screen and (max-width: 1335px) {
  .how-it-works-image {
    max-width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .nav {
    font-size: 18px;
  }
  aside .signup {
    width: 160px;
    font-size: 18px;
  }
  .logo {
    flex: 0.8;
  }
  aside {
    flex: 0.8;
  }
}
@media screen and (max-width: 1275px) {
  .nav {
    display: none;
  }
  aside {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
@media screen and (max-width: 967px) {
  .contact-content {
    padding: 0 0 50px 0;
    width: 100%;
  }
  .contact h1, .contact p {
    text-align: center;
  }
  .line.left {
    margin: 0 auto 15px auto;
  }
}


@font-face {
  font-family: 'Poppins';
  src: url(fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: 'BoldPoppins';
  src: url(fonts/poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: 'ExtraBoldPoppins';
  src: url(fonts/poppins/Poppins-ExtraBold.ttf);
}