body {
  margin: 0;
}
* {
  font-family: 'Poppins';
}
p, li {
  color: #404242;
}
h1 {
  color: #1C2323;
}
.wrapper {
  padding: 0 85px 334px 103px;
}
main {
  padding-top: 105px;
}
.description {
  padding-bottom: 120px;
}
.description-wrapper {
  display: flex;
  justify-content: space-between;
}
.description-content {
  flex: 1 1 0;
  padding-right: 57px;
}
.description-content * {
  margin-bottom: 50px;
}
.description-content h1 {
  font-family: 'ExtraBoldPoppins';
  line-height: 84px;
  font-size: 56px;
}
.description-content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.description-content button {
  width: 216px;
  height: 80px;
  background: #58A9A5;
  border-radius: 20px 20px 20px 0px;
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-family: 'BoldPoppins';
  cursor: pointer;
}
.description-image {
  flex: 1 1 58px;
  height: 625px;
}
.description-image::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: url(assets/rect.svg) no-repeat;
  background-size: 100% 100%;
}
.header {
  height: 119px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex-basis: 160px;
  flex-grow: 1;
}
.logo > div {
  display: flex;
  justify-content: space-between;
  width: 128px;
  font-size: 28px;
}
.logo > div > span {
  line-height: 52px;
  font-family: 'ExtraBoldPoppins';
  color: #58A9A5;
}
.nav {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 655px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 0;
}
.nav li a {
  text-decoration: none;
  white-space: nowrap;
  color: #404242;
}
.nav li.active a {
  font-family: 'BoldPoppins';
  color: #58A9A5;
}
.nav li.active {
  position: relative;
}
.border-line {
  display: none;
  position: absolute;
  width: 100%;
}
.active .border-line {
  display: block;
}
.border-line > div {
  margin: 0 auto;
  border-radius: 21px;
  background: #FEC62D;
  width: 48px;
  height: 6px;
}
.pages {
  position: relative;
  height: 18px;
  border-radius: 9px;
  background: #1476FF;
  width: 18px;
  font-size: 10px;
  color: #fff;
  padding: 3px 0 3px 0;
  box-sizing: border-box;
  line-height: 11.1px;
  font-weight: 400;
  text-align: center;
  font-family: 'Inter Regular';
}
.browse-screens {
  width: 160px;
  height: 52px;
  border-radius: 48px;
  border: 1px solid #E9EAF3;
  text-align: center;
  padding: 16px 0 18px 0;
  box-sizing: border-box;
  line-height: 16px;
  font-weight: 700;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  color: #0B0E2C;
}
aside {
  flex-grow: 0.71197;
  flex-basis: 271px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
aside .signup {
  cursor: pointer;
  background: #58A9A5;
  width: 216px;
  height: 80px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 21px 0;
  color: #fff;
  text-align: center;
  line-height: 38px;
  font-weight: 500;
  border-radius: 15px;
}
.pages-value {
  margin: 0 41px 0 32px;
}
.how-it-works h1 {
  text-align: center;
  font-family: 'ExtraBoldPoppins';
  font-size: 56px;
  line-height: 84px;
  margin-bottom: 20px;
}
.how-it-works > p {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 71px;
}
.how-it-works-wrapper {
  display: flex;
  height: 350px;
  margin-bottom: 150px;
}
.how-it-works-wrapper p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #486958;
}
.how-it-works-wrapper h3 {
  white-space: nowrap;
  color: #486958;
  font-size: 16px;
  line-height: 24px;
  font-family: 'BoldPoppins';
}
.how-it-works-mission-wrapper {
  display: flex;
  height: 520px;
}
.how-it-works-image {
  background: url(assets/how-it-works-content.svg) no-repeat;
  background-size: cover;
  border-radius: 10px 0px 0px 10px;
  flex: 1 1 684px;
}
.how-it-works-content {
  position: relative;
  flex: 1;
  padding: 56px 85px 71px 92px;
  background: #CCF0E6;
  text-align: left;
}
.how-it-works-content p {
  text-align: left;
}
.how-it-works-content .background {
  width: 102px;
  height: 102px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 52px;
  position: absolute;
  bottom: 40px;
  left: -51px;
}
.how-it-works-content .forground {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 52px;
  position: absolute;
  bottom: 51px;
  left: -40px;
}
.how-it-works-content .forground svg {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 32px;
}
.how-it-works-mission-image {
  background: url(assets/how-it-works-mission-content.svg) no-repeat;
  background-size: 100% 100%;
  flex: 1;
}
.how-it-works-mission-content {
  flex: 1 1 0;
  padding: 0 96px 0 71px;
}
.how-it-works-mission-content h2 {
  font-family: 'BoldPoppins';
}
.how-it-works-mission-content p {
  text-align: left;
}

@font-face {
  font-family: 'Poppins';
  src: url(fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: 'BoldPoppins';
  src: url(fonts/poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: 'ExtraBoldPoppins';
  src: url(fonts/poppins/Poppins-ExtraBold.ttf);
}